# **TASK - 1**

Here is a sample line of code that can be executed in Python:

print("Hello, World!")
You can just as easily store a string as a variable and then print it to stdout:

my_string = "Hello, World!"
print(my_string)
The above code will print Hello, World! on your screen. Try it yourself in the editor below!

Input Format

You do not need to read any input in this challenge.

Output Format

Print Hello, World! to stdout.

Sample Output 0

Hello, World!

In [1]:
if __name__ == '__main__':
    print("Hello, World!")

Hello, World!

# Task 2

Given an integer, , perform the following conditional actions:

If  is odd, print Weird

If  is even and in the inclusive range of  to , print Not Weird

If  is even and in the inclusive range of  to , print Weird

If  is even and greater than , print Not Weird

Input Format

A single line containing a positive integer, .

Constraints

Output Format

Print Weird if the number is weird. Otherwise, print Not Weird.

Sample Input 0

3

Sample Output 0

Weird

Explanation 0


 is odd and odd numbers are weird, so print Weird.

Sample Input 1

24

Sample Output 1

Not Weird

Explanation 1

n = 24

n > 20 and n is even, so it is not weird

In [2]:
import math
import os
import random
import re
import sys


if __name__ == '__main__':
    n = int(input().strip())

if n % 2 == 1:
    print("Weird")
elif 2 <= n <= 5:
    print("Not Weird")
elif 6 <= n <= 20:
    print("Weird")
else:
    print("Not Weird")

24
Not Weird

# **Task 3**

# Arithmetic operators

Task
The provided code stub reads two integers from STDIN, a and b. Add code to print three lines where:

1.The first line contains the sum of the two numbers.
2.The second line contains the difference of the two numbers (first - second).
3.The third line contains the product of the two numbers.

Example

a = 3
b = 5


Print the following:

8
-2
15
Input Format

The first line contains the first integer,a .
The second line contains the second integer,b.

Constraints

Constraints
1 <= a <= 10 ^ 10
1 <= b <= 10 ^ 10

Output Format

Print the three lines as explained above.

Sample Input
3
2

Sample Output
5
1
6

Explanation

3+2 = 5
#### 3-2 = 1
#### 3*2 = 6

In [3]:
if __name__ == '__main__':
    a = int(input(" The value of a : "))
    b = int(input(" The value of b : "))

    print("sum :", a + b)
    print("difference :", a - b)
    print("product :", a * b)

 The value of a : 3
 The value of b : 2
sum : 5
difference : 1
product : 6

#  **Task 4**

# Division



The provided code stub reads two integers,  and , from STDIN.

Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .

No rounding or formatting is necessary.

Example

a = 3
b = 5

The result of the integer division 3//5 = 0.

The result of the float division is 3/5 = 0.6.

Print:

0.6

Input Format

The first line contains the first integer, a.

The second line contains the second integer, b.

Output Format

Print the two lines as described above.

Sample Input

4

3

Sample Output

1

1.33333333333

In [4]:
if __name__ == '__main__':
    a = int(input(" The value of a : "))
    b = int(input(" The value of b : "))

    print("The result of the integer division is :", a // b)
    print("The result of the float division is :", a / b)

 The value of a : 4
 The value of b : 3
The result of the integer division is : 1
The result of the float division is : 1.3333333333333333

# **Task 5**

# Loop

Check Tutorial tab to know how to to solve.

Task

The provided code stub reads an integer, n, from STDIN. For all non-negative integers i < n. print iÂ².

Example

n = 3

The list of non-negative integers that are less than n = 3 is [0, 1, 2]. Print the square of each number on a separate line.

1

4

Input Format

The first and only line contains the integer, n.

Constraints

1 <= n <= 20

Output Format

Print n lines, one corresponding to each i.

Sample Input

5

Sample Output

0

1

4

9

16

In [5]:
if __name__ == '__main__':
    n = int(input("The No. is : "))

for i in range(n):
    print(i * i)

The No. is : 5
0
1
4
9
16

# **Task 6**

# **Write a Function**

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

Task

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

Input Format

Read year, the year to test.

Constraints

1900 < year < 105

Output Format

The function must return a Boolean value (True/False). Output is handled by the provided code stub.

Sample Input

1990

Sample Output

False

Explanation

1990 is not a multiple of 4 hence it's not a leap year.

In [6]:
def is_leap(year):
    leap = False

    # Write your logic here
    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year % 4 == 0:
        leap = True

    return leap

year = int(input("The year is:"))
print(is_leap(year))

The year is:1990
False

# **Task 7**

# Print Function

The included code stub will read an integer, n, from STDIN.
Without using any string methods, try to print the following:
123...n

Note that "..." represents the consecutive values in between.

Example

n = 5

Print the string 12345.

Input Format

The first line contains an integer n.

Constraints

1 <= n <= 150

Output Format

Print the list of integers from 1 through n as a string, without spaces.

Sample Input

3

Sample Output

123

In [7]:
if __name__ == '__main__':
    n = int(input())

for i in range(1,n + 1):
    print(i, end="")

3
123